[submodule ".config/mpv/script_modules/mpvSockets"]
	path = .config/mpv/script_modules/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/alacritty/themes/catppuccin"]
	path = .config/alacritty/themes/catppuccin
	url = https://github.com/catppuccin/alacritty
[submodule ".config/mpv/scripts/autosubsync-mpv"]
	path = .config/mpv/scripts/autosubsync-mpv
	url = git@github.com:joaquintorres/autosubsync-mpv.git
[submodule ".config/x11/themes"]
	path = .config/x11/themes
	url = git@github.com:dracula/xresources.git
[submodule ".config/alacritty/themes/dracula"]
	path = .config/alacritty/themes/dracula
	url = git@github.com:dracula/alacritty.git
[submodule ".config/dunst"]
	path = .config/dunst
	url = git@github.com:jakubreron/dunst.git
[submodule ".config/zathura/themes"]
	path = .config/zathura/themes
	url = git@github.com:dracula/zathura.git
[submodule ".local/bin/rofi-bluetooth"]
	path = .local/bin/rofi/bluetooth
	url = https://github.com/nickclyde/rofi-bluetooth
[submodule ".config/rofi/dracula"]
	path = .config/rofi/dracula
	url = https://github.com/dracula/rofi
