.config/mpd/mpdstate
.config/mpd/database
.config/mpv/watch_later

.config/zsh/.zcompdump*
.config/zsh/.zsh_history
.config/zsh/.chpwd-recent-dirs
.config/shell/zshnameddirrc

.config/tmux/plugins/*

.config/lazygit/state.yml
.config/BetterDiscord/themes/*.css

.idea
*.log
*.asar
*.bak
*.out

shortcutrc
shortcuts.vim

.config/fcitx/clipboard/*
.config/fcitx/dbus/*
.config/fcitx/cached_layout
.config/fcitx/profile

.local/share/lf

.config/keyd/app.lock
.config/gtk-4.0
.config/gtk-2.0
.config/gtk-3.0
.config/BetterDiscord/data/stable/windowprefs.json
.config/fcitx5/conf/cached_layouts
.config/fcitx5/conf/clipboard.conf
.config/fcitx5/conf/kimpanel.conf
.config/fcitx5/conf/notifications.conf
.local/share/rofi/rofi_calc_history
