.config/nvim/autoload
.config/nvim/plugged

.config/pulse/cookie

.config/zsh/.zcompdump*
.config/zsh/.oh-my-zsh

.config/x11/xprofile

.local/bin/ticker
.local/bin/redshift

.local/bin/statusbar/sb-cpu
.local/bin/statusbar/sb-gpu

.config/shell/zshnameddirrc

*.log
.idea
