[submodule ".config/mpv/script_modules/mpvSockets"]
	path = .config/mpv/script_modules/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".config/mpv/scripts/autosubsync-mpv"]
	path = .config/mpv/scripts/autosubsync-mpv
	url = git@github.com:joaquintorres/autosubsync-mpv.git
[submodule ".config/rofi/themes/rofi"]
	path = .config/rofi/themes/rofi
	url = https://github.com/catppuccin/rofi
[submodule ".config/waybar/themes/catppuccin"]
	path = .config/waybar/themes/catppuccin
	url = https://github.com/catppuccin/waybar.git
[submodule ".config/dunst/themes/catppuccin"]
	path = .config/dunst/themes/catppuccin
	url = https://github.com/catppuccin/dunst.git
[submodule ".config/zathura/themes/catppuccin"]
	path = .config/zathura/themes/catppuccin
	url = https://github.com/catppuccin/zathura.git
[submodule ".local/share/sddm/themes/catppuccin"]
	path = .local/share/sddm/themes/catppuccin
	url = https://github.com/catppuccin/sddm.git
[submodule ".config/hypr/themes/catppuccin"]
	path = .config/hypr/themes/catppuccin
	url = https://github.com/catppuccin/hyprland
[submodule ".config/fcitx5/themes/catppuccin"]
	path = .config/fcitx5/themes/catppuccin
	url = https://github.com/catppuccin/fcitx5.git
[submodule ".config/alacritty/themes/alacritty-theme"]
	path = .config/alacritty/themes/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule ".config/firefox/betterfox"]
	path = .config/firefox/betterfox
	url = https://github.com/yokoffing/Betterfox.git
[submodule ".local/bin/lfimg"]
	path = .local/bin/lfimg
	url = https://github.com/jakubreron/lfimg
