.config/nvim/autoload
.config/nvim/plugged
.config/nvim/session

.config/mpd/mpdstate
.config/mpd/database

.config/pulse/cookie

.config/zsh/plugins
.config/zsh/.zcompdump*
.config/zsh/.oh-my-zsh

.config/dunst/dunstrc
.config/dunst/dunstrc.bak

.config/zathura/zathurarc
.config/zathura/zathurarc.bak

.config/scripts/nohup.out

.config/pipewire/media-session.d

.config/x11/xprofile

.config/lvim/plugin

.local/bin/ticker
.local/bin/redshift

.local/bin/statusbar/sb-cpu
.local/bin/statusbar/sb-gpu

.config/shell/zshnameddirrc

.config/BetterDiscord/themes/*.css

*.log
.idea
*.asar
