[submodule ".config/mpv/script_modules/mpvSockets"]
	path = .config/mpv/script_modules/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/alacritty/themes/catppuccin"]
	path = .config/alacritty/themes/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule ".config/mpv/scripts/autosubsync-mpv"]
	path = .config/mpv/scripts/autosubsync-mpv
	url = git@github.com:joaquintorres/autosubsync-mpv.git
[submodule ".config/rofi/themes/rofi"]
	path = .config/rofi/themes/rofi
	url = https://github.com/catppuccin/rofi
