@import "./themes/catppuccin/themes/latte.css";

* {
  color: #000;
}

#window {
  text-shadow: 1px 1px 4px @base;
}

#waybar {
  background: rgba(255,255,255, .5);
}

#workspaces,
#mpd,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#tray,
#backlight,
#clock {
  background-color: rgba(255, 255, 255, .75);
  box-shadow: 1px 1px 2px @text;
}
