@import "./themes/catppuccin/themes/latte.css";

#window {
  color: @base;
  text-shadow: 1px 1px 4px @text;
}

#mpd,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#tray,
#backlight,
#clock {
  background-color: @base;
}
