#waybar {
  font-family: sans-serif, monospace;
  font-size: 12.5px;
  font-weight: 500;
}

#waybar,
#workspaces button {
  color: @text;
}

#workspaces,
#mpd,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#tray,
#backlight,
#clock {
  margin: 2px;
}

#workspaces {
  margin-left: 4px;
}

#clock {
  margin-right: 4px;
}

#workspaces button {
  border-radius: 4px;
}
#workspaces button.active {
  background-color: @surface0;
  color: @blue;
}
#workspaces button.urgent {
  color: @red;
}

#workspaces button, 
#mpd,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#tray,
#backlight,
#clock {
  padding: 0 6px;
}

#battery,
#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#network {
  color: @lavender;
}

#network.disconnected {
  color: @red;
}

#memory, #cpu {
  color: @sapphire;
}

#temperature {
  color: @red;
}

#backlight {
  color: @yellow;
}

#mpd.disconnected {
  color: @red;
}

#mpd.paused {
  color: @overlay2;
}

#custom-todo {
  color: @rosewater;
}

#tray {
  padding: 0;
}

@import "./mocha.css";
