@import './colorscheme.css';

#waybar {
  font-family: sans-serif, monospace;
  font-size: 12.5px;
  font-weight: 500;
}

#waybar,
#workspaces button {
  color: @text;
}

#workspaces,
#mpd,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#tray,
#backlight,
#custom-todo,
#custom-weather-precip-chance,
#custom-weather-high,
#custom-weather-low,
#clock {
  margin: 2px;
}

#workspaces {
  margin-left: 4px;
  margin-right: 12px;
}

#clock {
  margin-right: 4px;
}

#workspaces button {
  border-radius: 4px;
  margin-right: 1px;
}
#workspaces button.active {
  background-color: @surface0;
  color: @blue;
}
#workspaces button.urgent {
  font-weight: bold;
  color: @red;
  background-color: rgba(255, 0, 0, .2);
}

#custom-weather-precip-chance {
  padding-left: 6px;
}
#custom-weather-high {
  padding-right: 6px
}

#workspaces button, 
#mpd,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#tray,
#backlight,
#custom-todo,
#clock {
  transition: .25s;
  transition-property: color, background-color;
  padding: 0 6px;
}

#battery,
#battery.charging {
  color: @green;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  font-weight: bold;
}

#battery.warning:not(.charging) {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
  text-shadow: 0 0 4px @red;
}

#backlight {
  color: @yellow;
}

#network {
  color: @lavender;
}

#network.disconnected {
  color: @red;
}

#memory, #cpu {
  color: @sapphire;
}

#temperature {
  color: @red;
}

#temperature.critical {
  font-weight: bold;
  text-shadow: 0 0 4px @red;
}

#backlight {
  color: @yellow;
}

#mpd.disconnected {
  color: @red;
}

#mpd.paused,
#pulseaudio.muted {
  color: @overlay2;
}

#custom-todo {
  color: @rosewater;
}

#tray {
  padding: 0;
}

#custom-weather-precip-chance,
#pulseaudio.bluetooth:not(.muted) {
  color: @blue;
}

#custom-weather-low {
  color: @mauve;
}

#custom-weather-high {
  color: @peach;
}
