@theme "catppuccin-default"

configuration{
  modi: "run,drun,window";
  icon-theme: "Adwaita";
  show-icons: true;
  terminal: "alacritty";
  display-drun: " App  ";
  display-run: " Run  ";
  display-window: " Win ";
  display-Network: " Net 󰤨 ";
}

window {
  max-height: 50%;
  border: 2px;
}

inputbar,
prompt,
window,
element {
  border-radius: 9px;
}

element,
listview {
  margin: 0;
}

element {
  padding: 6px;
}
