disableStartupPopups: true
os:
  editPreset: "nvim-remote"
  edit: '[ -z "$NVIM" ] && (nvim -- {{filename}}) || (nvim --server "$NVIM" --remote-send "<CMD>LazyGitToggle<CR>" && nvim --server "$NVIM" --remote-tab {{filename}})'
  editAtLine: '[ -z "$NVIM" ] && (nvim +{{line}} -- {{filename}}) || (nvim --server "$NVIM" --remote-send "<CMD>LazyGitToggle<CR>" &&  nvim --server "$NVIM" --remote-tab {{filename}} && nvim --server "$NVIM" --remote-send ":{{line}}<CR>")'
gui:
  nerdFontsVersion: "3"
  expandFocusedSidePanel: true
  authorColors:
    "Jakub Reroń": "green"
    "Jakub Reron": "green"
    "jakubreron": "green"
    "jakub.reron": "green"
    "jr": "green"
    "JR": "green"
    "ヤ": "green"
  theme:
    selectedLineBgColor:
      - reverse
    selectedRangeBgColor:
      - reverse
git:
  pagers:
    - colorArg: always
      pager: delta --paging=never
