#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Game;
Comment=PokeXGames
Encoding=UTF-8
Exec="/home/jakub/Documents/pxg-linux/pxgme-linux"
Icon=/home/jakub/Documents/pxg-linux/assets/pxgmeclient.png
Terminal=false
StartupNotify=true
StartupWMClass=pxgme-linux
Keywords=game;
Name=PokeXGames
Terminal=false
Type=Application
Value=1.0
